:root {
  --font-family-latin: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe UI Symbol', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --font-family-ja: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Noto Sans CJK JP', 'Noto Sans JP';
  --font-family-ko: 'Apple SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', 'Noto Sans CJK KR', 'Noto Sans KR';
  --font-family-zh-hant: '蘋方-繁', 'PingFang TC', '微軟正黑體', 'Microsoft JhengHei', 'Noto Sans CJK TC', 'Noto Sans TC';
  --font-family-zh-hans: '苹方-简', 'PingFang SC', '微软雅黑', 'Microsoft YaHei', 'Noto Sans CJK SC', 'Noto Sans SC';
  --background: light-dark(#ddddee, #111122);
  --highlight: light-dark(#eeeeff, #222244);
  --text: light-dark(#111111, #eeeeee);
  --line-height: 1.5;
}

:lang(ja) {
  font-family: var(--font-family-latin), var(--font-family-ja), sans-serif;
}

:lang(ko) {
  font-family: var(--font-family-latin), var(--font-family-ko), sans-serif;
}

:lang(zh-Hant), :lang(zh-TW) {
  font-family: var(--font-family-latin), var(--font-family-zh-hant), sans-serif;
}

:lang(zh-Hans), :lang(zh-CN) {
  font-family: var(--font-family-latin), var(--font-family-zh-hans), sans-serif;
}

* {
  box-sizing: border-box;
  font-variant-emoji: text;
}

body {
  font-family: var(--font-family-latin), var(--font-family-ja), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  background: var(--background);
  color: var(--text);
  line-height: var(--line-height);
  min-height: 100dvh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  place-items: center;
}

h1, h2 {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

.js-message {
  width: 100%;
  text-align: center;
}

.js-message ul {
  list-style-type: none;
  padding-inline: 0;
}

.js-message li {
  display: block;
  margin-block: 0.5em;
  text-wrap: balance;
  word-break: auto-phrase;
  line-break: strict;
}
