.cache-button-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.cache-results {
  width: 100%;
  min-height: max(12em, 50dvh);
  overflow: auto;
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--text);
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cache-table-actions {
  display: flex;
  margin: auto;
  justify-content: center;
  place-items: center;
  vertical-align: middle;
  gap: 0.25em;
}
