.cache-button-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.cache-entry-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 0.5em;
}

.cache-entry {
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid var(--text);
  background-color: var(--highlight);
  gap: 0.5em;
  padding: 0.5rem;
  white-space: nowrap;
}

.cache-entry-outdated {
  background-color: var(--accent);
}

.cache-entry-text {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cache-entry-actions {
  display: flex;
  margin: auto;
  place-items: center;
  vertical-align: middle;
  gap: 0.25em;
}

.cache-entry-notice {
  text-align: center;
}

@media (width <= 575.98px) {
  .cache-entry-text {
    display: flex;
    flex-direction: column;
  }

  .cache-entry-list {
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  }
}
