dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24em;
  height: 14em;
  max-width: calc(100% - 1rem);
  padding: 1rem;
  margin: auto;
  color: var(--text);
  background-color: var(--background);
  border: 1px solid var(--text);
  border-radius: 3px;
  text-align: center;
  text-wrap: balance;
  word-break: auto-phrase;
  line-break: strict;
  filter: drop-shadow(0 0 8px var(--modal-shadow-color));
}

dialog::backdrop {
  background-color: var(--modal-backdrop-color);
}

.modal-message {
  display: flex;
  flex: 1;
  place-items: center;
  justify-content: center;
}

.modal-checkbox {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-button-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.modal-button-group > button {
  min-width: 5em;
}
