.options, .options-group {
  display: flex;
  flex-direction: column;
}

.options {
  gap: 0.5rem;
}

.options-group {
  gap: 0.25rem;
}

.header-options {
  display: flex;
  place-items: center;
  gap: 0.25em;
}

*[dir="ltr"] .header-options {
  float: right;
}

*[dir="rtl"] .header-options {
  float: left;
}
