dialog[open].modal-options {
  width: 26em;
  height: 18em;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: 0.25rem 0.5rem;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.options-inline {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.options label {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  text-wrap: balance;
  line-height: var(--line-height-narrow);
}

.header-options svg {
  margin-inline-end: 0.25em;
}

*[dir="ltr"] .header-options {
  float: right;
}

*[dir="rtl"] .header-options {
  float: left;
}
