.progress-bar-container {
  display: grid;
  grid-template-areas: "content";
  place-items: center;
  height: 2em;
}

.progress-bar-container > * {
  grid-area: content;
}

.progress-bar {
  background: var(--progress-bar-background);
  border: 1px solid var(--progress-bar-border);
  border-radius: 0.5em;
  width: 100%;
  height: 1em;
  overflow: hidden;
}

.progress-bar-complete {
  background: var(--progress-bar-color);
  height: 100%;
  transition: width 0.1s linear;
}

.progress-bar-text {
  display: flex;
  padding: 0 4px;
  font-size: 0.7em;
  font-variant-numeric: tabular-nums;
  place-content: center;
}
