.results-status {
  display: grid;
  grid-template-columns: minmax(20em, 1fr) 1em 2fr auto;
  align-items: center;
  text-align: center;
  gap: 0.25em;
}

.results-jump, .results-status-text {
  min-height: 1.75em;
}

.results-jump select {
  width: 100%;
}

.results-nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  text-align: center;
  gap: 0.25em;
}

.results-toggle {
  display: flex;
  gap: 0.25em;
}

.results-toggle-furigana {
  vertical-align: top;
  font-size: 50%;
}

.results-table-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.results-table-actions {
  display: flex;
  margin: auto;
  place-items: center;
  vertical-align: middle;
  gap: 0.25em;
}

.results-nav-range-long {
  display: block;
}

.results-nav-range-short {
  display: none;
}

@media (width <= 767.98px) {
  .results-status {
    grid-template-columns: 1em 1fr auto;
  }

  .results-jump, .results-status-text {
    grid-column: span 3;
  }

  .results-nav-range-short {
    display: block;
  }

  .results-nav-range-long {
    display: none;
  }
}
