/* Variables */
.var, .wait, .sfx, .unused, .null, .compressed, .gender, .number, .speaker {
  color: var(--text-gray);
}

.variables-hide .var, .variables-hide .wait, .variables-hide .sfx, .variables-hide .unused, .variables-hide .null, .variables-hide .compressed {
  display: none;
}

/* Literals */
.literal {
  border-bottom: 1px dotted var(--text-gray);
}

.literal-small {
  font-size: 80%;
}

/* Line breaks, whitespace */
.r, .c, .n, .e, .vertoffset {
  color: var(--text-gray);
}

.soft {
  white-space: normal;
}

.control-hide .r, .control-hide .c, .control-hide .n, .control-hide .vertoffset,
.control-show span.soft, .control-hide wbr.soft {
  display: none;
}

.control-show .whitespace-leading, .whitespace-trailing, .control-show .tab {
  border-bottom: 1px dotted var(--text);
  background-color: var(--accent);
}

/* Font size */
.line-font-size-200 {
  line-height: calc(2 * var(--line-height));
}

.text-font-size-200 {
  display: inline-block;
  scale: 1 2;
  line-height: var(--line-height);
}

/* Text alignment */
.line-align-center {
  display: block;
  text-align: center;
}

.line-align-right {
  display: block;
  text-align: right;
}

.line-align-left {
  display: block;
  text-align: left;
}

/* Gender branches */
.gender-2 .branch.male {
  border-bottom: 1px dotted var(--text);
  color: var(--gender-male-color);
}

.gender-2 .branch.female {
  border-bottom: 1px dotted var(--text);
  color: var(--gender-female-color);
}

.gender-2 .branch.neuter {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color), var(--gender-female-color));
}

/* Number branches */
.number-0 .branch.singular {
  border-bottom: 1px dotted var(--text);
  color: var(--number-singular-color);
}

.number-0 .branch.plural {
  border-bottom: 1px dotted var(--text);
  color: var(--number-plural-color);
}

.number-0 .branch.zero {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--number-singular-color), var(--number-plural-color));
}

/* Gender/number branches */
.gender-2.number-0 .branch.male.singular {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color) 75%, var(--number-singular-color));
}

.gender-2.number-0 .branch.female.singular {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-female-color) 75%, var(--number-singular-color));
}

.gender-2.number-0 .branch.male.plural {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color) 50%, var(--number-plural-color));
}

.gender-2.number-0 .branch.female.plural {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-female-color) 50%, var(--number-plural-color));
}

/* Apocope branches */
.apocope1, .apocope2 {
  border-bottom: 1px dotted var(--text);
}

/* Version branches */
.version-scarlet {
  border-bottom: 1px dotted var(--text);
  color: var(--version-scarlet-color);
}

.version-violet {
  border-bottom: 1px dotted var(--text);
  color: var(--version-violet-color);
}

/* Hidden branches based on toggles */
.gender-0 .female:not(.male), .gender-0 .gender, .gender-0 .neuter,
.gender-1 .male:not(.female), .gender-1 .gender, .gender-1 .neuter,
.number-1 .plural, .number-1 .zero, .number-1 .number,
.number-2 .singular, .number-2 .zero, .number-2 .number {
  display: none;
}

/* Furigana */
.furigana-hide rt, .furigana-hide rp {
  display: none;
}

/* PBR */
/* Font */
.font-pbr-0 {
  font-size: 125%;
}

.font-pbr-1 {
  font-size: 100%;
}

.font-pbr-2 {
  font-size: 75%;
}

.font-pbr-6 {
  color: white;
}

@media (resolution < 192dpi) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.7071px 0.7071px black,
      1px 0 black, 0.7071px -0.7071px black,
      0 -1px black, -0.7071px -0.7071px black,
      -1px 0 black, -0.7071px 0.7071px black;
  }
}

@media (192dpi <= resolution < 288dpi) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.3827px 0.9239px black, 0.7071px 0.7071px black, 0.9239px 0.3827px black,
      1px 0 black, 0.9239px -0.3827px black, 0.7071px -0.7071px black, 0.3827px -0.9239px black,
      0 -1px black, -0.3827px -0.9239px black, -0.7071px -0.7071px black, -0.9239px -0.3827px black,
      -1px 0 black, -0.9239px 0.3827px black, -0.7071px 0.7071px black, -0.3827px 0.9239px black;
  }
}

@media (288dpi <= resolution) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.2588px 0.9659px black, 0.5px 0.866px black, 0.7071px 0.7071px black, 0.866px 0.5px black, 0.9659px 0.2588px black,
      1px 0 black, 0.9659px -0.2588px black, 0.866px -0.5px black, 0.7071px -0.7071px black, 0.5px -0.866px black, 0.2588px -0.9659px black,
      0 -1px black, -0.2588px -0.9659px black, -0.5px -0.866px black, -0.7071px -0.7071px black, -0.866px -0.5px black, -0.9659px -0.2588px black,
      -1px 0 black, -0.9659px 0.2588px black, -0.866px 0.5px black, -0.7071px 0.7071px black, -0.5px 0.866px black, -0.2588px 0.9659px black;
  }
}

/* Text color */
.color-pbr-1 {
  color: #E73F76;
}

.color-pbr-2 {
  color: #36A3E7;
}

.color-pbr-3 {
  color: #E7D024;
}

.color-pbr-4 {
  color: #237F12;
}

.color-pbr-5 {
  color: #242424;
}

/* Spacing (Japanese only) */
.collection-pbr td:lang(ja) .spacing-0 {
  letter-spacing: 0;
}

.collection-pbr td:lang(ja) .spacing-1 {
  letter-spacing: 1px;
}

.collection-pbr td:lang(ja) .spacing-2 {
  letter-spacing: 2px;
}

.collection-pbr td:lang(ja) .spacing-3 {
  letter-spacing: 3px;
}

.collection-pbr td:lang(ja) .var {
  letter-spacing: normal;
}
