.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.search-bar {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.btn-alternate-container {
  display: grid;
  grid-template-columns: max-content;
}

.btn-alternate-container > * {
  grid-column: 1;
  grid-row: 1;
}

.search-filters-show {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0.5em 0.75em;
}

.search-filters-hide {
  display: none;
}

.search-filters-divider {
  background-color: var(--text);
  grid-row: span 2;
}

.search-option-group, .search-collections, .search-languages {
  margin: 0.15em 0;
}

.search-collections, .search-languages {
  display: grid;
  place-content: start;
  gap: 0.3em 0;
}

.search-collections {
  grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
}

.search-languages {
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.search-collection, .search-language, .search-option {
  display: flex;
  align-items: center;
}

.search-collection label, .search-language label {
  width: 100%;
  line-height: var(--line-height-narrow);
}

.search-option label {
  display: inline-block;
  white-space: wrap;
  line-height: var(--line-height-narrow);
}

.search-language-code {
  display: none;
  white-space: nowrap;
}

.search-language-name {
  display: inline-block;
  text-wrap: balance;
  word-break: keep-all;
  line-break: strict;
}

@media (width <= 575.98px) {
  .search-filters-show {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1px auto auto;
  }

  .search-filters-divider {
    grid-row: inherit;
  }

  .search-languages {
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  }
}

@media (width >= 576px) and (width <= 991.98px) {
  .search-filters-show {
    grid-template-columns: 55fr 1px minmax(14em, 45fr);
  }

  .search-languages {
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  }
}

@media (width <= 991.98px) {
  .search-language-name {
    display: none;
  }

  .search-language-code {
    display: inherit;
  }
}
