.App-search {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.App-search-bar {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.App-search-bar-query, .App-search-bar-group, .App-search-button-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.App-search-options {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.App-search-filters-show {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0.5em;
}

.App-search-filters-hide {
  display: none;
}

.App-search-filters-divider {
  background-color: var(--text);
  grid-row: span 2;
}

.App-search-collections, .App-search-languages {
  display: grid;
  justify-content: start;
  align-content: start;
}

.App-search-collections {
  grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
}

.App-search-languages {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

.App-search-language-code {
  display: none;
}

.App-search-collection, .App-search-language, .App-search-option {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.App-search-collection label {
  display: block;
}

.App-search-option label {
  display: inline-block;
  white-space: wrap;
  line-height: 1.25;
}

.App-search-language-code {
  white-space: nowrap;
}

.App-search-language-name {
  display: inline-block;
  text-overflow: ellipsis;
  line-height: 1.25;
}

@media (max-width: 575.98px) {
  .App-search-options {
    grid-template-columns: repeat(2, auto);
  }

  .App-search-filters {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1px auto auto;
  }

  .App-search-filters-divider {
    grid-row: inherit;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .App-search-filters {
    grid-template-columns: 2fr 1px 1.5fr;
  }
}

@media (max-width: 767.98px) {
  .App-search-languages {
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  }

  .App-search-language-name {
    display: none;
  }

  .App-search-language-code {
    display: inherit;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .App-search-languages {
    grid-template-columns: repeat(2, 1fr);
  }
}
