.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.search-bar {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em 0;
}

.search-bar-query, .search-bar-group, .search-button-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.btn-alternate-container {
  display: grid;
  grid-template-columns: max-content;
}

.btn-alternate-container > * {
  grid-column: 1;
  grid-row: 1;
}

.search-filters-show {
  display: grid;
  grid-template-columns: 54fr 1px 46fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0.5em;
}

.search-filters-hide {
  display: none;
}

.search-filters-divider {
  background-color: var(--text);
  grid-row: span 2;
}

.search-collections, .search-languages {
  display: grid;
  place-content: start;
}

.search-collections {
  grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
}

.search-languages {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

.search-collection, .search-language, .search-option {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-collection label, .search-language label {
  width: 100%;
}

.search-option label {
  display: inline-block;
  white-space: wrap;
  line-height: 1.25;
}

.search-language-code {
  display: none;
  white-space: nowrap;
}

.search-language-name {
  display: inline-block;
  text-overflow: ellipsis;
  line-height: 1.25;
}

@media (width <= 575.98px) {
  .search-filters {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1px auto auto;
  }

  .search-filters-divider {
    grid-row: inherit;
  }
}

@media (width >= 576px) and (width <= 767.98px) {
  .search-filters {
    grid-template-columns: 4fr 1px 3fr;
  }
}

@media (width <= 767.98px) {
  .search-languages {
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  }

  .search-language-name {
    display: none;
  }

  .search-language-code {
    display: inherit;
  }
}

@media (width >= 768px) and (width <= 991.98px) {
  .search-languages {
    grid-template-columns: repeat(2, 1fr);
  }
}
