.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  animation: spinner-spin infinite 0.5s linear;
}

.spinner-active {
  opacity: 1;
  transition: opacity 0.25s;
}

.spinner-inactive {
  opacity: 0.5;
  transition: opacity 0.25s;
}

.spinner-stopped {
  animation: none;
}

@keyframes spinner-spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
