.results-status {
  display: grid;
  grid-template-columns: minmax(20em, 1fr) 1em 2fr auto;
  align-items: center;
  text-align: center;
  gap: 0.25em;
}

.results-jump, .results-status-text {
  min-height: 1.75em;
}

.results-jump select {
  width: 100%;
}

.results-nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  text-align: center;
  gap: 0.25em;
}

.results-toggle {
  display: flex;
  gap: 0.25em;
  justify-content: center;
}

.results-toggle-furigana {
  vertical-align: top;
  font-size: 50%;
}

.results-notice {
  border-radius: 0;
}

.results-rendering {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text);
  padding: 0 0.25em;
  height: 2em;
}

/* Pad the last rendering box so that there's enough empty space below it for it to be at the top of the window. */
.results-section:last-child .results-rendering {
  margin-bottom: max(12em, 100vh);
}

.results-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 100%;
}

.results-table-container {
  padding-right: 0.5rem;
  width: fit-content; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  min-width: calc(100% + 0.5rem);
}

.results-table {
  min-width: 100%;
}

.results-table-actions-cell {
  width: calc(2.25em + 8px);
}

.results-table-actions {
  display: flex;
  place-content: center;
  place-items: center;
  vertical-align: middle;
  gap: 0.25em;
}

.results-nav-range-long {
  display: block;
}

.results-nav-range-short {
  display: none;
}

@media (width < 48rem) {
  .results-status {
    grid-template-columns: 1em 1fr auto;
  }

  .results-jump, .results-status-text {
    grid-column: span 3;
  }

  .results-nav-range-short {
    display: block;
  }

  .results-nav-range-long {
    display: none;
  }
}

@media (width < 26rem) {
  .results-status {
    grid-template-columns: 1em 1fr;
  }

  .results-jump, .results-status-text {
    grid-column: span 2
  }

  .results-toggle {
    grid-column: span 2;
    flex-wrap: wrap;
  }
}
