/* Display variable placeholders as the specified color */
.color :is(.var, .wait, .sfx, .unused, .null, .compressed, .gender, .number, .speaker) {
  color: inherit;
  border-bottom: 1px dotted var(--text-gray);
}


/* Colors from the Switch games (VAR FF00) */
.collection-za {
  --color-0: #36364C;
  --color-1: #ED5F5F;
  --color-2: #0066CC;
  --color-3: #BDE930;
  --color-4: #8040E8;
  --color-5: #FFB800;
  --color-6: #F06000;
  --color-7: #E02080;
  --color-8: #66B8E0;
  --color-9: #1040A0;
  --color-10: #A0A0A0;
}

.collection-sv {
  --color-0: #182840;
  --color-1: #ED5F5F;
  --color-2: #0065CC;
  --color-3: #288028;
  --color-4: #8040E9;
  --color-5: #FFB900;
  --color-6: #EF6000;
  --color-7: #E02080;
  --color-8: #65B9E0;
  --color-9: #10409F;
  --color-10: #9F9F9F;
}

.collection-la {
  --color-0: #344E65;
  --color-1: #FF6595;
  --color-2: #529FEF;
  --color-3: #64FA00;
  --color-4: #EF46EF;
  --color-5: #FFFF46;
  --color-6: #FF6595;
  --color-7: #8B00FF;
  --color-8: #50C8E7;
  --color-9: #0050BE;
  --color-10: #B5B5B5;
}

.collection-lgpe, .collection-home, .collection-swsh {
  --color-0: #232323;
  --color-1: #F01E1E;
  --color-2: #0064FF;
  --color-3: #64FA00;
  --color-4: #F046F0;
  --color-5: #FFFF46;
  --color-6: #FF5000;
  --color-7: #8C00FF;
  --color-8: #50C8E6;
  --color-9: #0050BE;
}

.collection-home, .collection-swsh {
  --color-0: #646464;
  --color-6: #FF5080;
}

.collection-swsh {
  --color-0: #000000;
  --color-10: #B4B4B4;
}


/* Colors from the 3DS games */
.collection-xy, .collection-oras, .collection-sm, .collection-usum, .collection-bank {
  /* VAR FF00 (VAR COLOR) */
  --color-0: #000000;
  --color-1: #FF0000;
  --color-2: #008CFF;
  --color-3: #00C000;

  /* VAR BD00 */
  --color-0-0-0: #FF0000;
  --color-1-0-0: #00C000;
  --color-2-0-0: #008CFF;
  --color-3-0-0: #FF8000;
  --color-4-0-0: #FF80FF;
  --color-5-0-0: #8C00FF;
  --color-6-0-0: #50C8E4;
  --color-7-0-0: #FFE650;
  --color-8-0-0: #64B4FF;
  --color-9-0-0: #FFFF50;
}


/* Colors from Gen 5 */
/* Primary text color in light mode, text shadow color in dark mode unless reversed */
.collection-bw, .collection-b2w2 {
  /* VAR FF00 */
  --color-0: light-dark(#595151, #A2A2AA);
  --color-1: light-dark(#C30000, #FB7171);
  --color-2: light-dark(#0000D3, #7192FB);
  --color-3: light-dark(#AAA200, #EBE300); /* reversed */
  --color-4: light-dark(#20B200, #8AFB71);
  --color-5: light-dark(#F3B200, #FBDB92);
  --color-6: light-dark(#EB00BA, #FB79EB);
  --color-255: var(--color-2);  /* retrieve cached color */

  /* VAR BD00 */
  --color-5-6-0: light-dark(#922828, #F34141);  /* Hall of Fame interface, reversed */
  --color-4-0-2: #96202BC0;  /* PWT Mix Tournament */
}


/* Colors from Gen 4 (VAR FF00) */
/* Primary text color in light mode, text shadow color in dark mode unless reversed */
.collection-dp, .collection-pt, .collection-hgss {
  --color-0: light-dark(#515159, #A2A2AA);
  --color-1: light-dark(#EB2010, #FBAABA);
  --color-2: light-dark(#0071FB, #79BAEB);
  --color-3: light-dark(#61B249, #B2D392);  /* Grass-type starter Pokémon, Green Sphere */
  --color-4: light-dark(#AA8ABA, #FBCBF3);  /* Pale Sphere, reversed */
  --color-5: light-dark(#EB59EB, #FBAAFB);  /* Korean female color (pink) */
  --color-101: var(--color-1);  /* cache color 1 */
  --color-255: var(--color-1);  /* retrieve cached color */
}


/* Stadium 2 */
.gradient {
  color: var(--top);
}

@supports (background-clip: text) {
  .gradient {
    background: linear-gradient(to bottom, var(--top), var(--bottom));
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 color-mix(in oklab, var(--top), var(--bottom)));
  }
}

/* Animated text in Earl's Pokémon Academy */
.color-animation {
  color: rgb(247 152 177);
  animation-duration: 1s;
  animation-name: color-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animated text on the quit warning */
[data-id="stad2.39.1"] .color-animation {
  color: rgb(240 120 30);
  animation-duration: 1.25s;
  animation-name: color-animation-quit;
}

@keyframes color-animation {
  0% {
    color: rgb(247 152 177);
  }

  25% {
    color: rgb(240 154 100);
  }

  75% {
    color: rgb(254 150 254);
  }

  100% {
    color: rgb(247 152 177);
  }
}

@keyframes color-animation-quit {
  30% {
    color: rgb(240 120 30 / 100%);
  }

  50% {
    color: rgb(240 120 30 / 0%);
  }

  70% {
    color: rgb(240 120 30 / 100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .color-animation {
    animation: none !important;
  }
}


/* PBR */
.collection-pbr {
  --color-1: #E73F76;
  --color-2: #36A3E7;
  --color-3: #E7D024;
  --color-4: #237F12;
  --color-5: #242424;
}


/* Dream Radar */
.collection-radar {
  --color-1: #F1A800;
  --color-2: #00F264;
  --color-3: #0000FF;
  --color-5: #E6E600;
  --color-6: #000000;
}
