/* Variables */
.var, .func, .null, .unused, .speaker, .grammar, .gender, .number, .version {
  color: var(--text-gray);
  white-space: nowrap;
}

.variables-hide :is(.var, .func),
.variables-short :is(.var.long, .func.long),
.var.short, .func.short {
  display: none;
}

.variables-hide .var.short,
.variables-short :is(.var.short, .func.short) {
  display: unset;
}

/* Literals */
.literal {
  border-bottom: 1px dotted var(--text-gray);
}

.literal-small {
  font-size: 80%;
}

/* Line breaks, whitespace */
.r, .c, .n, .e, .vertoffset, .div {
  color: var(--text-gray);
}

.soft, .rich-text-disabled table {
  white-space: normal;
}

td[lang="zxx"] wbr {
  display: none;
}

.results-table.soft td[lang="zxx"] wbr {
  display: unset;
}

.control-hide :is(.r, .c, .n, .vertoffset, .div),
.control-show span.soft, .control-hide wbr.soft {
  display: none;
}

.control-show .whitespace-leading, .whitespace-trailing, .control-show .tab {
  border-bottom: 1px dotted var(--text);
  background-color: var(--accent);
}

/* Font size */
.line-font-size-200 {
  line-height: calc(2 * var(--line-height));
}

.text-font-size-200 {
  display: inline-block;
  scale: 1 2;
  line-height: var(--line-height);
}

/* Links */
.link {
  color: var(--text-link);
}

/* Spacing (ignored in non-Japanese games) */
td:lang(ja) .spacing-0 {
  letter-spacing: 0;
}

td:lang(ja) .spacing-1 {
  letter-spacing: 1px;
}

td:lang(ja) .spacing-2 {
  letter-spacing: 2px;
}

td:lang(ja) .spacing-3 {
  letter-spacing: 3px;
}

td:lang(ja) :is(.spacing-0, .spacing-1, .spacing-2, .spacing-3) .var {
  letter-spacing: normal;
}

/* Text alignment */
.line-align-center {
  display: block;
  text-align: center;
}

.line-align-right {
  display: block;
  text-align: right;
}

.line-align-left {
  display: block;
  text-align: left;
}

/* Gender branches */
.gender-2 .branch.male {
  border-bottom: 1px dotted var(--text);
  color: var(--gender-male-color);
}

.gender-2 .branch.female {
  border-bottom: 1px dotted var(--text);
  color: var(--gender-female-color);
}

.gender-2 .branch.neuter {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color), var(--gender-female-color));
}

/* Number branches */
.number-0 .branch.singular {
  border-bottom: 1px dotted var(--text);
  color: var(--number-singular-color);
}

.number-0 .branch.plural {
  border-bottom: 1px dotted var(--text);
  color: var(--number-plural-color);
}

.number-0 .branch.zero {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--number-singular-color), var(--number-plural-color));
}

/* Gender/number branches */
.gender-2.number-0 .branch.male.singular {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color) 75%, var(--number-singular-color));
}

.gender-2.number-0 .branch.female.singular {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-female-color) 75%, var(--number-singular-color));
}

.gender-2.number-0 .branch.male.plural {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-male-color) 50%, var(--number-plural-color));
}

.gender-2.number-0 .branch.female.plural {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--gender-female-color) 50%, var(--number-plural-color));
}

/* Grammar branches */
.branch.form {
  border-bottom: 1px dotted var(--text);
  color: color-mix(in oklab, var(--number-singular-color), var(--number-plural-color));
}

.grammar-hide .branch.form, .grammar-hide .grammar {
  display: none;
}

.grammar-hide .branch.form-0 {
  display: unset;
}

/* Version branches */
.version-ruby {
  border-bottom: 1px dotted var(--text);
  color: var(--version-ruby-color);
}

.version-sapphire {
  border-bottom: 1px dotted var(--text);
  color: var(--version-sapphire-color);
}

.version-scarlet {
  border-bottom: 1px dotted var(--text);
  color: var(--version-scarlet-color);
}

.version-violet {
  border-bottom: 1px dotted var(--text);
  color: var(--version-violet-color);
}

/* Hidden branches based on toggles */
.gender-0 .female:not(.male), .gender-0 .gender, .gender-0 .neuter,
.gender-1 .male:not(.female), .gender-1 .gender, .gender-1 .neuter,
.number-1 .plural, .number-1 .zero, .number-1 .number,
.number-2 .singular, .number-2 .zero, .number-2 .number {
  display: none;
}

/* Furigana */
.furigana-hide rt, .furigana-hide rp {
  display: none;
}

/* PBR font size */
.font-pbr-0 {
  font-size: 125%;
}

.font-pbr-1 {
  font-size: 100%;
}

.font-pbr-2 {
  font-size: 75%;
}

.font-pbr-6 {
  color: white;
}

@media (resolution < 2dppx) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.7071px 0.7071px black,
      1px 0 black, 0.7071px -0.7071px black,
      0 -1px black, -0.7071px -0.7071px black,
      -1px 0 black, -0.7071px 0.7071px black;
  }
}

@media (2dppx <= resolution < 3dppx) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.3827px 0.9239px black, 0.7071px 0.7071px black, 0.9239px 0.3827px black,
      1px 0 black, 0.9239px -0.3827px black, 0.7071px -0.7071px black, 0.3827px -0.9239px black,
      0 -1px black, -0.3827px -0.9239px black, -0.7071px -0.7071px black, -0.9239px -0.3827px black,
      -1px 0 black, -0.9239px 0.3827px black, -0.7071px 0.7071px black, -0.3827px 0.9239px black;
  }
}

@media (3dppx <= resolution) {
  .font-pbr-6 {
    text-shadow:
      0 1px black, 0.2588px 0.9659px black, 0.5px 0.866px black, 0.7071px 0.7071px black, 0.866px 0.5px black, 0.9659px 0.2588px black,
      1px 0 black, 0.9659px -0.2588px black, 0.866px -0.5px black, 0.7071px -0.7071px black, 0.5px -0.866px black, 0.2588px -0.9659px black,
      0 -1px black, -0.2588px -0.9659px black, -0.5px -0.866px black, -0.7071px -0.7071px black, -0.866px -0.5px black, -0.9659px -0.2588px black,
      -1px 0 black, -0.9659px 0.2588px black, -0.866px 0.5px black, -0.7071px 0.7071px black, -0.5px 0.866px black, -0.2588px 0.9659px black;
  }
}

/* Masters */
.word {
  border-bottom: 1px dotted var(--text-gray);
}

.fallback {
  color: var(--text-gray);
  border-bottom: 1px dotted var(--text-gray);
}
