.search-filters {
  display: grid;
  grid-template-columns: 4fr 1px 6fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0.5em 0.75em;
  overflow: hidden;
  transition: max-height, margin-bottom, opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .search-filters {
    transition: none !important;
  }
}

.search-filters-show {
  max-height: var(--search-filters-height, 100dvh);
  margin-bottom: 0;
  opacity: 1;
  visibility: visible;
}

.search-filters-hide {
  max-height: 0;
  margin-bottom: -0.5em;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

@supports (interpolate-size: allow-keywords) {
  .search-filters {
    interpolate-size: allow-keywords;
  }

  .search-filters-show {
    max-height: fit-content; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  }
}

.search-filters-divider {
  background-color: var(--text);
  grid-row: span 2;
}

.search-collections, .search-languages {
  display: grid;
  place-content: start;
  gap: 0.3em 0;
  margin: 0.15em 0;
  transition: none;
}

.search-collections {
  grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
}

.search-languages {
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.search-collection, .search-language {
  display: flex;
  align-items: center;
}

.search-collection label, .search-language label {
  width: 100%;
  line-height: var(--line-height-narrow);
}

.search-invalid {
  opacity: 0.3;
}

.search-language-code {
  display: none;
  white-space: nowrap;
}

.search-language-name {
  display: inline-block;
  text-wrap: balance;
  word-break: keep-all;
  line-break: strict;
}

/* On smaller screens, show language codes instead of the full names. */
@media (width <= 991.98px) {
  .search-filters {
    grid-template-columns: 55fr 1px minmax(14em, 45fr);
  }

  .search-languages {
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  }

  .search-language-name {
    display: none;
  }

  .search-language-code {
    display: inherit;
  }
}

/* On narrow screens, show collections above languages instead of side-by-side. */
@media (width <= 575.98px) {
  .search-filters {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1px auto auto;
  }

  .search-filters-divider {
    grid-row: inherit;
  }
}
