@media (width < 36rem) {
  .tutorial {
    top: auto;
    bottom: calc(2rem + env(safe-area-inset-bottom));
  }
}

.tutorial .modal-message {
  flex-direction: column;
  gap: 1em;
}

@keyframes tutorial-highlight {
  0% {
    box-shadow: 0 0 4px 4px transparent,
      inset 0 0 0 100vmax transparent;
  }

  70%, 100% {
    box-shadow: 0 0 4px 4px var(--tutorial),
      inset 0 0 0 100vmax var(--tutorial);
  }
}

[data-tutorial-page="1"] #tutorial-next,
[data-tutorial-page="2"] :is(#filters, .search-filters),
[data-tutorial-page="3"] :is(#query, #submit),
[data-tutorial-page="4"] .view-search .app-window,
[data-tutorial-page="5"] #tutorial-skip,
:is([data-tutorial-page="2"], [data-tutorial-page="3"], [data-tutorial-page="4"]) .view-cachemanager #view-switcher {
  animation: 1.5s ease-in-out infinite alternate tutorial-highlight;
}

@media (prefers-reduced-motion: reduce) {
  [data-tutorial-page="1"] #tutorial-next,
  [data-tutorial-page="2"] :is(#filters, .search-filters),
  [data-tutorial-page="3"] :is(#query, #submit),
  [data-tutorial-page="4"] .view-search .app-window,
  [data-tutorial-page="5"] #tutorial-skip,
  :is([data-tutorial-page="2"], [data-tutorial-page="3"], [data-tutorial-page="4"]) .view-cachemanager #view-switcher {
    animation: none !important;
    box-shadow: 0 0 4px 4px var(--tutorial),
      inset 0 0 0 100vmax var(--tutorial);
  }
}
