/* Colorschemes */

:root {
  color-scheme: light dark;

  --background: light-dark(#ddddee, #111122);
  --highlight: light-dark(#eeeeff, #222244);
  --text: light-dark(#111111, #eeeeee);
  --text-gray: light-dark(#888888, #888888);
  --text-link: light-dark(#2222FF, #8888FF);
  --progress-bar-background: var(--highlight);
  --progress-bar-border: var(--text);
  --progress-bar-color: light-dark(limegreen, green);
  --accent: light-dark(skyblue, teal);
  --line-height: 1.5;
  --line-height-narrow: 1.15;
  --gender-male-color: light-dark(#0000D3, #7192FB);
  --gender-female-color: light-dark(#C30000, #FB7171);
  --number-singular-color: light-dark(#007300, #82EB71);
  --number-plural-color: light-dark(#938300, #EBEB51);
  --version-ruby-color: light-dark(#851623, #DF6F7C);
  --version-sapphire-color: light-dark(#28356D, #818FC6);
  --version-scarlet-color: light-dark(#9E2A22, #F7837B);
  --version-violet-color: light-dark(#552277, #AE7BD0);
  --modal-backdrop-color: light-dark(rgba(255 255 255 / 75%), rgba(0 0 0 / 75%));
}

@media screen {
  @media (prefers-contrast: more) {
    :root {
      --background: light-dark(white, black);
      --highlight: light-dark(white, black);
      --text: light-dark(black, white);
    }
  }

  @media (prefers-reduced-transparency: reduce) {
    :root {
      --modal-backdrop-color: light-dark(white, black);
    }
  }
}


/* Styling */

* {
  box-sizing: border-box;
  font-variant-emoji: text;
}

body {
  height: 100dvh;
  margin: 0;
  overflow: auto;
  font-size: 16px;
  background: var(--background);
  line-height: var(--line-height);
}

.mode-light {
  color-scheme: light;
}

.mode-dark {
  color-scheme: dark;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

ruby {
  ruby-align: space-around;
}

ruby > rt {
  font-size: 50%;
}

dt {
  font-style: italic;
}

sup {
  vertical-align: top;
  font-size: 80%;
}

sub {
  vertical-align: bottom;
  font-size: 80%;
}

.d-none {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

h1, h2 {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

h1 a:hover, h1 a:active {
  text-decoration: none;
}

*[dir="ltr"] h1, *[dir="ltr"] h2 {
  float: left;
}

*[dir="rtl"] h1, *[dir="rtl"] h2 {
  float: right;
}

input[type="text"], input:not([type]), input[type="number"], select, select:focus, input[type="submit"], input[type="button"], button {
  font-family: inherit;
  font-size: inherit;
  background: var(--highlight);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 3px;
  padding: 0 4px;
  height: 2em;
  line-height: inherit;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  margin-inline-end: 0.25em;
}

button.link {
  display: inline;
  background: none;
  border: none;
  color: var(--text);
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  height: auto;
}

button.link:hover, button.link:active, button.link:active:enabled {
  background: none;
  text-decoration: underline;
}

input[type="text"]:disabled, input:not([type]):disabled, input[type="number"]:disabled, select:disabled, input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
  opacity: 0.7;
}

.active:enabled, input[type="submit"]:active:enabled, input[type="button"]:active:enabled, button:active:enabled {
  background: var(--accent);
}

.button-square {
  height: 2em;
  width: 2em;
  white-space: nowrap;
}

button svg, a svg {
  position: relative;
  top: 0.1em;
}

.icon {
  height: 1em;
  width: 1em;
}

footer {
  text-align: center;
  line-height: var(--line-height-narrow);
  margin-top: 0.2em;
  margin-bottom: 0.15em;
}

table {
  border-collapse: collapse;
  white-space: pre;
}

table th, table td {
  padding: 1px 0.25em;
  border: 1px solid var(--text);
  background-color: var(--highlight);
}

/* Layout */
.app {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100dvh;
  width: 100%;
  padding: 1rem;
  background: var(--background);
  color: var(--text);
  overflow: auto;
}

.header-logo {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: 0.25em;
  vertical-align: middle;
}

.view-search .cache,
.view-cachemanager .search {
  display: none;
}

.item-group {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.app-window {
  width: 100%;
  min-height: max(12em, 50dvh);
  overflow: auto;
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--text);
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
