/* Colorschemes */

:root {
  --background-light: #dde;
  --highlight-light: #eef;
  --text-light: #111;
  --text-gray-light: #888;
  --background-dark: #112;
  --highlight-dark: #224;
  --text-dark: #eee;
  --text-gray-dark: #888;
  --progress-bar-color-light: limegreen;
  --progress-bar-color-dark: green;
  --whitespace-background-light: skyblue;
  --whitespace-background-dark: teal;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --highlight: var(--highlight-light);
    --text: var(--text-light);
    --text-gray: var(--text-gray-light);
    --progress-bar-background: var(--highlight);
    --progress-bar-border: var(--text);
    --progress-bar-color: var(--progress-bar-color-light);
    --whitespace-background: var(--whitespace-background-light);
  }
}

.App-mode-light {
  --background: var(--background-light);
  --highlight: var(--highlight-light);
  --text: var(--text-light);
  --text-gray: var(--text-gray-light);
  --progress-bar-background: var(--highlight);
  --progress-bar-border: var(--text);
  --progress-bar-color: var(--progress-bar-color-light);
  --whitespace-background: var(--whitespace-background-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --highlight: var(--highlight-dark);
    --text: var(--text-dark);
    --text-gray: var(--text-gray-dark);
    --progress-bar-background: var(--highlight);
    --progress-bar-border: var(--text);
    --progress-bar-color: var(--progress-bar-color-dark);
    --whitespace-background: var(--whitespace-background-dark);
  }
}

.App-mode-dark {
  --background: var(--background-dark);
  --highlight: var(--highlight-dark);
  --text: var(--text-dark);
  --text-gray: var(--text-gray-dark);
  --progress-bar-background: var(--highlight);
  --progress-bar-border: var(--text);
  --progress-bar-color: var(--progress-bar-color-dark);
  --whitespace-background: var(--whitespace-background-dark);
}


/* Styling */

* {
  box-sizing: border-box;
  font-variant-emoji: text;
}

a {
  color: var(--text);
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

ruby > rt {
  font-size: 50%;
}

.var, .wait, .unused, .null, .compressed {
  color: var(--text-gray);
}

.r, .c, .n {
  display: none;
  color: var(--text-gray);
}

.whitespace {
  background-color: var(--whitespace-background);
}

h1, h2 {
  float: left;
  margin: 0;
}

input[type=text], select, input[type=submit], input[type=button], button {
  background: var(--highlight);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 3px;
  padding: 2px 4px;
  height: 2em;
}

input[type=text]:disabled, select:disabled, input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
  opacity: 0.7;
}

input[type=submit] {
  min-width: 4em;
}

footer {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background: var(--background);
  color: var(--text);
  overflow: auto;
  line-height: 1.5;
  text-size-adjust: none;
}

.App-header-logo {
  height: 1.25em;
  margin-bottom: 0.25em;
  vertical-align: middle;
}

.App-header-options {
  float: right;
  display: grid;
  gap: 0.25rem 0.5rem;
  grid-template-columns: repeat(2, auto);
}

.App-header-options label {
  text-align: right;
}

.App-results-status {
  display: grid;
  grid-template-columns: minmax(12em, 1fr) 1em 2fr;
  align-items: center;
  text-align: center;
  gap: 0.25em;
}

.App-results {
  width: 100%;
  min-height: max(12em, 25vh);
  overflow: scroll;
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--text);
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.App-results-table-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.App-results-table {
  border-collapse: collapse;
  white-space: pre;
}

.App-results-table th, .App-results-table td {
  padding: 1px 0.25em;
  border: 1px solid var(--text);
  background-color: var(--highlight);
}

.App-search {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.App-search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.App-search-bar-group {
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
  white-space: nowrap;
}

.App-search-button-group {
  display: flex;
  gap: 0.25em;
  justify-content: center;
  align-items: center;
}

.App-search-filters {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 0.5em;
}

.App-search-filters-divider {
  background-color: var(--text);
  grid-row: span 2;
}

.App-search-collections, .App-search-languages {
  display: grid;
  justify-content: start;
  align-content: start;
}

.App-search-collections {
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
}

.App-search-languages {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

.App-search-collection, .App-search-language {
  overflow: hidden;
  white-space: nowrap;
}

.App-search-collection label {
  display: inline-block;
  transform-origin: left center;
}

.App-search-language {
  text-overflow: ellipsis;
}
