/* Colorschemes */

:root {
  --background-light: #dde;
  --highlight-light: #eef;
  --text-light: #111;
  --text-gray-light: #888;
  --background-dark: #112;
  --highlight-dark: #224;
  --text-dark: #eee;
  --text-gray-dark: #888;
  --progress-bar-color-light: limegreen;
  --progress-bar-color-dark: green;
  --accent-light: skyblue;
  --accent-dark: teal;
  --line-height: 1.5;
  --gender-male-color-light: #0000D3;
  --gender-male-color-dark: #7192FB;
  --gender-female-color-light: #C30000;
  --gender-female-color-dark: #FB7171;
  --number-singular-color-light: #007300;
  --number-singular-color-dark: #82EB71;
  --number-plural-color-light: #938300;
  --number-plural-color-dark: #EBEB51;
  --version-1-color-light: #9E2A22;
  --version-1-color-dark: #F7837B;
  --version-2-color-light: #552277;
  --version-2-color-dark: #AE7BD0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --highlight: var(--highlight-light);
    --text: var(--text-light);
    --text-gray: var(--text-gray-light);
    --progress-bar-background: var(--highlight);
    --progress-bar-border: var(--text);
    --progress-bar-color: var(--progress-bar-color-light);
    --accent: var(--accent-light);
    --gender-male-color: var(--gender-male-color-light);
    --gender-female-color: var(--gender-female-color-light);
    --number-singular-color: var(--number-singular-color-light);
    --number-plural-color: var(--number-plural-color-light);
    --version-1-color: var(--version-1-color-light);
    --version-2-color: var(--version-2-color-light);
  }

  body:has(.App-mode-system) {
    background: var(--background-light);
  }
}

.App-mode-light {
  --background: var(--background-light);
  --highlight: var(--highlight-light);
  --text: var(--text-light);
  --text-gray: var(--text-gray-light);
  --progress-bar-background: var(--highlight);
  --progress-bar-border: var(--text);
  --progress-bar-color: var(--progress-bar-color-light);
  --accent: var(--accent-light);
  --gender-male-color: var(--gender-male-color-light);
  --gender-female-color: var(--gender-female-color-light);
  --number-singular-color: var(--number-singular-color-light);
  --number-plural-color: var(--number-plural-color-light);
  --version-1-color: var(--version-1-color-light);
  --version-2-color: var(--version-2-color-light);
}

body:has(.App-mode-light) {
  background: var(--background-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --highlight: var(--highlight-dark);
    --text: var(--text-dark);
    --text-gray: var(--text-gray-dark);
    --progress-bar-background: var(--highlight);
    --progress-bar-border: var(--text);
    --progress-bar-color: var(--progress-bar-color-dark);
    --accent: var(--accent-dark);
    --gender-male-color: var(--gender-male-color-dark);
    --gender-female-color: var(--gender-female-color-dark);
    --number-singular-color: var(--number-singular-color-dark);
    --number-plural-color: var(--number-plural-color-dark);
    --version-1-color: var(--version-1-color-dark);
    --version-2-color: var(--version-2-color-dark);
  }

  body:has(.App-mode-system) {
    background: var(--background-dark);
  }
}

.App-mode-dark {
  --background: var(--background-dark);
  --highlight: var(--highlight-dark);
  --text: var(--text-dark);
  --text-gray: var(--text-gray-dark);
  --progress-bar-background: var(--highlight);
  --progress-bar-border: var(--text);
  --progress-bar-color: var(--progress-bar-color-dark);
  --accent: var(--accent-dark);
  --gender-male-color: var(--gender-male-color-dark);
  --gender-female-color: var(--gender-female-color-dark);
  --number-singular-color: var(--number-singular-color-dark);
  --number-plural-color: var(--number-plural-color-dark);
  --version-1-color: var(--version-1-color-dark);
  --version-2-color: var(--version-2-color-dark);
}

body:has(.App-mode-dark) {
  background: var(--background-dark);
}


/* Styling */

* {
  box-sizing: border-box;
  font-variant-emoji: text;
}

body {
  height: 100dvh;
  overflow: auto;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

ruby > rt {
  font-size: 50%;
}

dt {
  font-style: italic;
}

.d-none {
  display: none;
}

*[dir=ltr] h1, *[dir=ltr] h2 {
  float: left;
}

*[dir=rtl] h1, *[dir=rtl] h2 {
  float: right;
}

h1, h2 {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

h1 a:hover, h1 a:active {
  text-decoration: none;
}

input[type=text], select, input[type=submit], input[type=button], button {
  background: var(--highlight);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 3px;
  padding: 2px 4px;
  min-height: 2em;
}

button.link {
  display: inline;
  background: none;
  border: none;
  color: var(--text);
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  min-height: auto;
}

button.link:hover, button.link:active, button.link:active:enabled {
  background: none;
  text-decoration: underline;
}

input[type=text]:disabled, select:disabled, input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
  opacity: 0.7;
}

.active:enabled, input[type=submit]:active:enabled, input[type=button]:active:enabled, button:active:enabled {
  background: var(--accent);
}

.button-square {
  height: 2em;
  width: 2em;
  white-space: nowrap;
}

.submit {
  min-width: 4em;
}

select {
  width: 100%;
}

footer {
  text-align: center;
}

/* Layout */
.App {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100dvh;
  width: 100%;
  padding: 1rem;
  background: var(--background);
  color: var(--text);
  overflow: auto;
  line-height: var(--line-height);
  text-size-adjust: none;
}

.App-header-logo {
  height: 1.25em;
  margin-bottom: 0.25em;
  vertical-align: middle;
}

*[dir=ltr] .App-header-options, *[dir=ltr] .App-header-options {
  float: right;
}

*[dir=rtl] .App-header-options, *[dir=rtl] .App-header-options {
  float: left;
}

.App-header-options {
  display: grid;
  max-width: 100%;
  gap: 0.25rem 0.5rem;
  grid-template-columns: repeat(2, auto);
}

.App-header-options label {
  text-align: end;
  white-space: nowrap;
}

.App-view-Search .App-cache,
.App-view-CacheManager .App-search {
  display: none;
}
