@media print {
  /* Use light colorscheme, but with pure white background and black text */
  :root {
    --background-light: white !important;
    --highlight-light: white !important;
    --text-light: black !important;
    --background: var(--background-light);
    --highlight: var(--highlight-light);
    --text: var(--text-light);
    --text-gray: var(--text-gray-light);
    --progress-bar-background: var(--highlight);
    --progress-bar-border: var(--text);
    --progress-bar-color: var(--progress-bar-color-light);
    --accent: var(--accent-light);
    --gender-male-color: var(--gender-male-color-light);
    --gender-female-color: var(--gender-female-color-light);
    --number-singular-color: var(--number-singular-color-light);
    --number-plural-color: var(--number-plural-color-light);
    --version-scarlet-color: var(--version-scarlet-color-light);
    --version-violet-color: var(--version-violet-color-light);
    --modal-backdrop-color: var(--modal-backdrop-color-light);
  }

  /* Display all content, even if it overflows */
  body, .app, .app-window {
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
    background: var(--background-light) !important;
  }

  /* Hide navigation and interactive elements  */
  header .header-options,
  .search-filters,
  .cache-button-group,
  .results-table-actions-cell,
  footer {
    display: none !important;
  }

  .results-status .results-jump,
  .results-status .spinner,
  .results-status .results-nav button {
    visibility: hidden;
  }

  /* Display window as just part of the page  */
  .app-window {
    border: none !important;
    padding: 0 !important;
  }

  /* Prevent results table from filling entire width if not necessary */
  .results-table-container {
    padding-right: 1rem !important;
    min-width: auto !important;
  }

  /* Prevent page breaks where inappropriate */
  h1, h2 {
    break-after: avoid;
  }

  .results-table tr {
    break-inside: avoid;
  }
}
