@media print {
  /* Use light colorscheme, but with pure white background and black text */
  :root {
    color-scheme: light !important;

    --background: white !important;
    --highlight: white !important;
    --text: black !important;
  }

  /* Display all content, even if it overflows */
  body, .app, .app-window {
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
    background: var(--background) !important;
  }

  /* Hide navigation and interactive elements  */
  header .header-options,
  .search-filters,
  .cache-button-group,
  .results-table-actions-cell,
  footer {
    display: none !important;
  }

  .results-status .results-jump,
  .results-status .spinner,
  .results-status .results-nav button {
    visibility: hidden;
  }

  /* Display window as just part of the page  */
  .app-window {
    border: none !important;
    padding: 0 !important;
  }

  /* Prevent results table from filling entire width if not necessary */
  .results-table-container {
    padding-right: 1rem !important;
    min-width: auto !important;
  }

  /* Prevent page breaks where inappropriate */
  h1, h2 {
    break-after: avoid; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  }

  .results-table tr {
    break-inside: avoid; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  }

  .text-color-animation {
    animation: none !important;
  }
}
