/* CSS hacks for Safari */
@supports not (-webkit-touch-callout: none) {
  /* Safari on Mac OS displays text in these elements too high with the line-height specified */
  /* Safari on Mac OS Safari displays the text in the option elements oddly with the font specified  */
  .ua-safari select,
  .ua-safari select:focus {
    line-height: initial;
    font-family: system-ui;
  }

  /* The Apple System font displays these elements too high relative to the associated element */
  .ua-safari .progress-bar-text {
    position: relative;
    top: 0.1em;
  }
}

/* Safari displays text in these elements too high with the line-height specified */
.ua-safari input[type="text"],
.ua-safari input:not([type]),
.ua-safari input[type="number"],
.ua-safari input[type="search"],
.ua-safari input[type="submit"],
.ua-safari input[type="button"],
.ua-safari button {
  line-height: initial;
}
